body {
    font-family: 'Rubik', sans-serif;
}

.dark body {
    @apply bg-gray-800
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
